# Build / output
/tmp
/out-tsc

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples

# Env
.env

